*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.navbar{
  display: flex;
  justify-content: space-around;
}
.navbar .logo a{
  display: inline-flex;
}
.navbar .logo h2{
  margin: 0.7rem;
}
.navbar .logo img{
  width: 3%;
}
.navbar .menuitem{
  display: flex;
  margin: 1rem 2rem;
}
.navbar .menuitem nav a{
  margin: 0rem 1rem;
  padding: 0.5rem;
}
.viewer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navbar .menuitem nav a:hover{
  background-color: skyblue;
}
